.search-input {
  @include flex( row, flex-start, center);
  width: 340px;
  padding: 15px 0;
//    文字区域大小
  >span {
    width: 100px;
    margin-right: 10px;
    text-align: right;
  }
//   使用btn对齐输入框
  .btn-padding {
    margin-left: 110px;
  }
  &:last-child {
    align-content: flex-start;         
  }
}